/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/
/*.iml
node_modules/
app/storage
app/config/database.php
error.log
access.log
sftp-config.json
deployment-config.json
