@import url('https://fonts.googleapis.com/css?family=Trirong');
* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color: #ecf0f1;
  margin-bottom: 100px;
  font-family: 'Trirong', serif;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -135px; /* the bottom margin is the negative value of the footer's height */
  margin-bottom: 100px;
}

.footer {
  height: 135px;
  background-color: #34495e;
  color: #ecf0f1;
  padding-top: 10px;
}

.footer-img {
  text-align: center;
}

.panel-hover:hover {
	border-style: solid;
	border-width: 2px;
	border-color: #34495e;
}

.label-status {
	font-size: 15px;
}

.img-logo {
  height: 120px;
}

.search-bar {
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-media {
  overflow: scroll;
  height: 300px;
}


a {
	color : black;
}

.icon {
  transition: -webkit-transform 0.2s ease;;
}

.icon:hover {
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Safari */
  transform: scale(1.1,1.1);
}

.icon:active {
  -webkit-transform: scale(1);
}

.text-icon {
  margin-top: 10px;
}


/* Custom Bootstrap */

.hover:hover {
  background-color: #34495e !important;
  color: white;
  cursor: pointer;
}

.search-panel {
  padding-top: 10px;
  padding-bottom: 10p
}

// customize style
.userborder {
  background-color: red !important;
  border-style: dashed;
  border-color: black;
  border-width: 5px;
  border-radius: 2px;
}

#not_found  {
  font-size: 100%;
  text-align: center;
  width: auto;
}

.modal-notification {
  padding:9px 15px;
  border-bottom:0px solid #eee;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#noti-header {
  background-color: rgb(255, 128, 0);
}

#complete-noti-header.modal-notification {
  background-color: #16A085;
  text-align: center;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-notifiation-title {
  color: white;
}

.form-label {
  font-weight: bold;
  font-size: 15px;
}

#cd-field {
  margin-left: -26px;
}

#cd-field-label {
  margin-left: 18px;
}

#cd-field-input {
  margin-left: -30px;
}

#search-member-label {
  line-height: 35px;
}

.long-field {
  margin-left: -30px;
  width: 370px;
}

.medium-field {
  width: 190px;
}

.small-field {
  width: 100px;
}

.paginate-control-left {
  position: absolute;
  left: -20px;
  top: 50%;
}

.paginate-control-right {
  position: absolute;
  right: -20px;
  top: 50%;
}

.add-media-prod {
  font-size: 16px;
}

.inputsize{
  margin-top: 5px;
}

.labelisize{
  font-size: 16px;
  margin-top: 13px;
}

.labelisize1{
  font-size: 16px;
  margin-top: 10px;
}

.mediatable{
  text-align: center;
  width: 100px;
}

/* edit btn */
.btn {
  font-size:20px;
}

/* edit head panel big for font */


/* edit head nav big for font */
.nav>li {
  font-size:1.2em;
}

/* edit title panel big for font */
.panel-title {
    font-size: 1.3em;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.sel_hover:hover{
  color: white;
  background-color: #4d4d4d;
}

